extends layout

block scripts
  style(type="text/css")
    #display {
      display: block;
      margin: 0 auto;
    }
  script(language="javascript",src="/socket.io/socket.io.js")
  script(type="text/javascript",src="/nodebro.js")
  script(language="javascript",charset="utf-8")
    var nickname = '#{ nickname }';
    var gameId = '#{ gameId }';
    var isHost = #{ isHost };

block content
  canvas(id="display",width="600",height="400")
