!!! 5
html
  head
    link(rel='stylesheet',href='css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet',href='css/site.css', type='text/css')
    title= locals.title || 'Nodebro.js'
  body
    block nav
    .container
      block content

