.nodejsorg {
  background-image:url(images/nodeorg.png);
}

.screenshot {
  width: 100%;
  height: 100%;
}

.screenshot h1 a {
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-shadow: 2px 2px #888;
  text-decoration: none;
  background-color:black;
  line-height: 160px;
}

.expressjs {
  background-image:url(images/express-page.png);
  background-position: top center;
}

img { vertical-align: middle; }

.comparison {
  width: 100%;
  height: 100%;
}

.comparison ul {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  list-style: none;
}

.comparison ul li {
  padding: 0;
  margin: 0;
  width: 340px;
  position: absolute;
  bottom: 100px;
  text-align: center;
}

.comparison ul li:first-child {
  left: 100px;
}

.comparison ul li:last-child {
  right: 100px;
}

.chrome-logo {
  width: 340px;
  text-align: center;
  padding:0;
  margin:0;
  position: absolute;
  top: 160px;
}

.browser-events {
  width: 340px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 288px;
}

.content .browser-events ul {
  list-style: none;
  text-align: center;
}

.nodejs-logo {
  width: 340px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 160px;
  right: 0;
}

.server-events {
  width: 340px;
  padding:0;
  margin:0;
  position: absolute;
  top: 288px;
  right: 0;
