.content {

  font-family: Futura;
  color: #444;
  
  a {
    color: #000;
    text-decoration: none;

    &:visited { color: #000; }
  }

  h1 {
    width: 896px;
    margin: auto;
  }

  &.subsection {
    background-color: #353129;
    h1 {
      background-color: inherit;
    }
  }
  
  &.cover {
    background-position: top center;
    background-image:url(/file/images/cover.png);

    h1 {
      display: none;
    }
  }

  &.screenshot {
    background-position: top center;

    &.nodebrojs {
      background-color: black;
      background-repeat: no-repeat;
      background-position: center center;
      background-image:url(/file/images/nodebrojs.png);

      h1 a {
        top: 0;
        background-color: transparent; 
      }
    }

    &.nodejsorg {
      background-image:url(/file/images/nodeorg.png);
      background-position: top left;
    }

    &.expressjs {
      background-image:url(/file/images/express-page.png);
    }

    &.npm {
      background-image:url(/file/images/npm.png);
    }

    &.jade {
      background-image:url(/file/images/jade.png);
    }

    &.lesscss {
      background-image:url(/file/images/less.png);
    }

    &.lobby {
      background-image:url(/file/images/lobby.png);
    }

    &.highscores {
      background-image:url(/file/images/highscores.png);
    }

    &.w3c {
      background-image:url(/file/images/websocket-api.png);
      background-position: top left;
    }

    &.socketio {
      background-image:url(/file/images/socketio.png);
      background-position: top left;
    }

    h1 a {
      color: white;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      text-shadow: 2px 2px #888;
      text-decoration: none;
      background-color:black;
      line-height: 160px;
    }
  }

  &.comparison {
    ul {
      padding: 0;
      margin: 0;
      position: relative;
      width: 100%;
      height: 100%;
      list-style: none;

      li {
        padding: 0;
        margin: 0;
        width: 340px;
        position: absolute;
        bottom: 100px;
        text-align: center;

        &:first-child {
          left:100px;
        }

        &:last-child {
          right:100px;
        }
      }
    }
  }

  &.semantics {
    ul {
      display:block;
      width: 896px;
      height: 600px;
      list-style:none;
      position: relative;

      li {
        font-size: 16pt;
        display:block;
        padding: 0;
        margin: 0;
        width: 400px;
        position: absolute;

        &:first-child {
          left: 40px;
        }

        &:last-child {
          right: 40px;
        }

        pre {
          padding:0;
          margin:0;
        }
      }
    }
  }

  &.jade-templating {
    ul {
      padding:0;
      margin:0;
      display:block;
      width: 1000px;
      height: 500px;
      list-style:none;
      position: relative;

      li {
        font-size: 16pt;
        display:block;
        padding: 0;
        margin-left: 20px;
        width: auto;
        float: left;

        &:last-child {
          float:right;
        }

        pre {
          padding:0;
          margin:0;
        }
      }
    }
  }

  img { vertical-align: bottom; }
}

.v8 {
  .system-logo {
    width: 340px;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 550px;

    &.nodejs {
      right: 20px;
    }
  }

  .system-events {
    width: 340px;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align:center;
    top: 250px;
    font-size: 2em;

    &.server {
      right: 20px;
    }
  }
}

